<!-- Form Validation Error Message -->
<div class="alert alert-warning myAlert" style="text-align: center">
  {{ errorMsg }}
</div>

<!--Login -->
<div class="alert alert-warning myAlert" *ngIf="loginError">
  Your Credentials is Wrong
</div>
<!--Forget Error -->
<div class="alert alert-warning myAlert" *ngIf="forgetStatus">
  {{ forgetPasswordResult }}
</div>

<!-- Login -->
<div *ngIf="userPage === 'login'" class="container">
  <div class="header">
    <!-- <svg viewBox="0 0 24 24" fill="rgb(29, 161, 242)" width="40" height="40">
      <g>
        <path
          d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
        ></path>
      </g>
    </svg> -->
    <h1>Log in to Twitter</h1>
  </div>
  <form
    autocomplete="off"
    #loginForm="ngForm"
    (ngSubmit)="onLoginSubmit(loginForm)"
  >
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <button type="submit" class="submitButton">Log in</button>
  </form>
  <div class="footer">
    <a (click)="changeUserPage('signup')">Sign up for Twitter</a>
    <span>.</span>
    <a (click)="changeUserPage('forgetPassword')">Forgot password?</a>
  </div>
</div>

<!--Sign Up -->
<div *ngIf="userPage === 'signup'" class="container">
  <div class="header">
    <!-- <svg viewBox="0 0 24 24" fill="rgb(29, 161, 242)" width="40" height="40">
      <g>
        <path
          d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
        ></path>
      </g>
    </svg> -->
    <h1>Sign Up Twitter</h1>
  </div>
  <form
    autocomplete="off"
    #signupForm="ngForm"
    (ngSubmit)="onSignupSubmit(signupForm)"
  >
    <div class="form-group">
      <label for="username">FirstName</label>

      <input
        type="text"
        name="firstname"
        id="firstname"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="username">LastName</label>

      <input
        type="text"
        name="lastname"
        id="lastname"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="username">Email</label>

      <input
        type="email"
        name="email"
        id="email"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="username">Contact</label>

      <input
        type="number"
        name="contact"
        id="contact"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>

      <input
        type="password"
        name="password1"
        id="password1"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>

      <input
        type="password"
        name="password2"
        id="password2"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <button type="submit" class="submitButton">Sign Up</button>
  </form>
  <div class="footer">
    <a (click)="changeUserPage('login')">Log in for Twitter</a>
    <span>.</span>
    <a (click)="changeUserPage('forgetPassword')">Forgot password?</a>
  </div>
</div>

<!--Forget Password-->
<div *ngIf="userPage === 'forgetPassword'" class="container">
  <div class="header">
    <!-- <svg viewBox="0 0 24 24" fill="rgb(29, 161, 242)" width="40" height="40">
      <g>
        <path
          d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
        ></path>
      </g>
    </svg> -->
    <h1>Forget Password Twitter</h1>
  </div>

  <form
    autocomplete="off"
    #forgetPasswordForm="ngForm"
    (ngSubmit)="onForgetPasswordSubmit(forgetPasswordForm)"
  >
    <div class="form-group">
      <label for="email">Email</label>

      <input
        type="email"
        name="email"
        id="email"
        required
        class="inputField"
        autocomplete="off"
        ngModel
      />
    </div>
    <button type="submit" class="submitButton">Password Reset</button>
  </form>
  <div class="footer">
    <a (click)="changeUserPage('signup')">Sign up for Twitter</a>
    <span>.</span>
    <a (click)="changeUserPage('login')">Log in for Twitter</a>
  </div>
</div>
